<!DOCTYPE html>
<html>
  <head>
    <title>MHEALTHBANK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MHEALTHBANK</h1>
    <p>RESTUFUL API dengan Node.JS + Express + Sequelize</p>
    <p>(JerryPeter)</p>
  </body>
</html>
